/* .hero-container {
    text-align: center;
    color: white;
  }
  
  .max-width-container {
    max-width: 800px;
    margin: auto;
    margin-top: -96px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .learn-text {
    color: #000;
    font-weight: bold;
    padding: 2px;
    font-size: 3xl;
  }
  
  .hero-title {
    font-size: 7xl;
    font-weight: bold;
    padding: 6px 0;
  }
  
  .typed-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 0;
  }
  
  .learn-label {
    font-size: 5xl;
    font-weight: bold;
    padding: 4px;
  }
  
  .typed-content {
    font-size: 5xl;
    font-weight: bold;
    padding-left: 4px;
  }
  
  .cta-button {
    background-color: #000;
    width: 200px;
    border-radius: 4px;
    font-weight: medium;
    margin: 6px auto;
    padding: 10px 0;
    color: white;
  }
   */